.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background: rgba(241, 241, 241, 0.9);
  border-radius: 5px;
  border: 1px solid black;
  flex-wrap: nowrap;
  min-width: 40px;
  width: auto;
  user-select: none; /* Disables text selection within the container */
  -webkit-user-drag: none; /* Disables dragging of any content within the container */
}

.floor {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #000000;
  user-select: none; /* Prevents text selection */
  -webkit-user-drag: none; /* Prevents dragging */
  cursor: default; /* Changes the cursor to indicate non-interactivity */
}

.arrow {
  width: 20px;
  height: auto;
  margin: 0 10px;

  user-select: none; /* Prevents selection */
  pointer-events: none; /* Prevents any pointer events on the arrow */
}
