@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.container {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  margin-top: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Use the full height of the viewport */
}

.mapContainer {
  position: relative;
  max-width: 89%; /* Adjust based on the maximum size you want for the map */
  max-height: 89%; /* Adjust based on the maximum size you want for the map */
  overflow: hidden; /* Optional: hide overflow if the map is larger than the container */
}

.mapImage {
  max-width: 100%;
  max-height: 100%;
  display: block; /* Remove extra space below the image */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.floorSwitcher {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%); /* Center the switcher horizontally */
  z-index: 2;
}

.checkboxContainer {
  position: absolute; /* Positioning relative to its positioned parent */
  top: 10px; /* Distance from the top of the parent container */
  left: 10px; /* Distance from the left of the parent container */
  display: flex; /* Using flexbox to stack items */
  flex-direction: column; /* Align children vertically */
  align-items: center; /* Align children to the left */
  z-index: 2;
  margin-top: 10px; /* Ensure it appears above other content */
  border: 1px solid black;
  background-color: rgba(241, 241, 241, 0.95) !important;
  border-radius: 15px;
  padding: 10px; /* Add padding to create space between contents and edge */
}

.modeContainer {
  position: absolute; /* Positioning relative to its positioned parent */
  top: 10px; /* Distance from the top of the parent container */
  right: 10px; /* Distance from the right of the parent container */
  display: flex; /* Using flexbox to stack items */
  flex-direction: column; /* Align children vertically */
  align-items: center; /* Align children to the left */
  z-index: 2;
  margin-top: 10px; /* Ensure it appears above other content */
  border: 1px solid black;
  background-color: rgba(241, 241, 241, 0.95) !important;
  border-radius: 15px;
  padding: 10px; /* Add padding to create space between contents and edge */
}

.checkboxLabel {
  color: black !important; /* Force text color to be black */
  font-family: "Poppins", sans-serif !important; /* Force usage of Poppins font */
  font-weight: 400 !important; /* Ensure font weight is 400 */
  font-size: 14px !important; /* Force font size to 14 pixels */
}

.nodeDetailsPopupContainer {
  position: fixed; /* Fixed or absolute, depending on container */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Grey out backdrop */
  z-index: 3;
}

.nodeDetailsPopup {
  font-size: 16px !important;
  color: black;
  padding: 40px;
  background-color: rgba(241, 241, 241, 0.97);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 4;
  width: auto;
  border: 2px solid black;
  max-width: 90%; /* Responsive max width */
}

.customButton {
  color: black;
  background-color: #f1f1f1;
  border: 1px solid black;
  cursor: pointer;
  margin: 10px;
}

.redCustomButton {
  color: black;

  background-color: lightcoral;
  border: 1px solid black;
  cursor: pointer;
  margin: 10px;
}

.detailsTable {
  width: 100%; /* Ensures the table takes the full width of the popup */
  border-collapse: collapse; /* Optional: for better table cell border handling */
}

.detailsTable td {
  text-align: left; /* Left-align text in table cells */
  padding: 8px; /* Add some padding for better readability */
}

.label {
  font-weight: bold; /* Optional: to differentiate labels from values */
  padding: 5px;
}

.labelEdgeMode {
  color: black;
  font-weight: bold; /* Optional: to differentiate labels from values */
}

.inputField {
  width: 100%; /* Makes the input field take up the full width of its container */
  padding: 8px; /* Adds some padding inside the input field for better text visibility */
  border: 1px solid black; /* Adds a black border around the input field */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  background-color: white; /* Sets the background color to white */
  color: black; /* Ensures the text color is black */
  margin-right: 30px;
}

.inputFieldEdgeMode {
  width: 100%; /* Makes the input field take up the full width of its container */
  padding: 8px; /* Adds some padding inside the input field for better text visibility */
  border: 1px solid black; /* Adds a black border around the input field */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  background-color: white; /* Sets the background color to white */
  color: black; /* Ensures the text color is black */
  margin-right: 30px;
}

.dropdown {
  width: 100%; /* Makes the input field take up the full width of its container */
  height: 45px;
  padding: 8px; /* Adds some padding inside the input field for better text visibility */
  border: 1px solid black; /* Adds a black border around the input field */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  background-color: white; /* Sets the background color to white */
  color: black; /* Ensures the text color is black */
  margin-right: 30px;
}

.autocomplete {
  width: 200px; /* Makes the input field take up the full width of its container */
  padding: 8px; /* Adds some padding inside the input field for better text visibility */
  border: 1px solid black; /* Adds a black border around the input field */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  background-color: white; /* Sets the background color to white */
  color: black; /* Ensures the text color is black */
  margin-right: 30px;
}

.toggle {
  color: black;
}