.outerDiv {
  height: 10vh;
  width: 20vw;
  position: relative;
  perspective: 70vh;
}

.ll2,
.ll1,
.f1,
.f2,
.f3 {
  right: 1vw;
  height: 18vh;
  width: auto;
  transform: rotate(10deg) rotateY(-15deg) rotateX(45deg) rotateZ(10deg);
  transform-style: flat;
  position: absolute;
  transition: translate 0.4s ease-in-out;
}

.mmimg {
  position: relative;
  z-index: 1;
  width: auto; /* or any custom size */
  height: 100%;
  object-fit: contain;
  border-radius: 15px;
  border: 3px solid #6fb49f;
}
header:hover ~ .mmimg {
  box-shadow: 1.5px 1.5px 1.5px 1.5px #6fb49f;
}

header {
  position: absolute;
  z-index: 2;
  right: 1vw;
  bottom: 1vh;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  color: black;
}

.mmimg:hover {
  box-shadow: 1.5px 1.5px 1.5px 1.5px #6fb49f;
  /*#99b2d*/
}

.f3 {
  perspective: 72vh;
  translate: 0vh -6vw;
  z-index: 5;
}

.f2 {
  perspective: 71vh;
  translate: 0vh -3vw;
  z-index: 4;
}

.f1 {
  z-index: 3;
}

.ll1 {
  perspective: 69vh;
  translate: 0vh 3vw;
  z-index: 2;
}

.ll2 {
  perspective: 75vh;
  translate: 0vh 6vw;
  z-index: 1;
}
.f2:hover ~ .f3 {
  translate: 00vh -9vw 0vh;
}
.f1:hover ~ .f3,
.ll2:hover ~ .f3,
.ll1:hover ~ .f3 {
  translate: 00vh -8vw 0vh; /* Adjust the vertical translation */
}

.f1:hover ~ .f2,
.ll2:hover ~ .f2,
.ll1:hover ~ .f2 {
  translate: 0vh -6vw;
}

.ll2:hover ~ .f1,
.ll1:hover ~ .f1 {
  translate: 0vh -4vw;
}

.ll2:hover ~ .ll1 {
  translate: 0vh -2vw;
}
