/* nav_bar.css */
:root {
  --backdropwidth: 100vw;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fbfbfb;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100vw;
}

.leftSide {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 25px;
}

.rightSide {
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 25px;
}

.blueBar {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 3;
  background-color: #003b9c;
}

.bwh-logo {
  height: 60px;
  margin: 0;
}

.lower {
  text-decoration: none;
  text-transform: none;
}

.time {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #003b9c;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  cursor: pointer;
}

.navButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Jaldi, sans-serif;
  position: absolute;
  top: 0;
  left: calc(50% - 269px);
}

.item {
  padding: 1rem;
  color: #003b9c;
  font-weight: normal;
  font-size: 24px;
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 5px;
  border-radius: 10px;
  transition-duration: 0.5s;
}

.item p {
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.navNames {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  text-decoration: none;
  font-size: 24px;
  color: #003b9c;
}

.logOutInText {
  text-decoration: none;
  text-transform: none;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Poppins, sans-serif;
  font-weight: 0;
  font-size: 20px;
  color: #ffffff;
}

.itemNames {
  text-decoration: none;
  text-transform: none;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #003b9c;
  line-height: 1.2;
  transition-duration: 0.25s;
}

.username {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #003b9c;
}

.alignIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: -5px;
}

.iconHeight {
  filter: invert(11%) sepia(83%) saturate(3723%) hue-rotate(215deg)
    brightness(103%) contrast(92%);
  height: 37px;
}

.makeItBlue {
  filter: invert(11%) sepia(83%) saturate(3723%) hue-rotate(215deg)
    brightness(103%) contrast(92%);
}

.currItem {
  font-weight: 625;
  text-decoration: underline;
}

.navDrop {
  display: none;
}

.dropDownBackDrop {
  display: none;
}

.dropDownButton {
  display: none;
}

.buttonsInDropDown {
  display: none;
}

.navMic {
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: 10px;
    background-color: #163a95;
}
.micSettings {
  margin-left: -25px;
  color: #163a95;
}

@media all and (max-width: 1024px) {
  .navButtons {
    display: none;
  }
  .leftSide {
    padding-left: 0;
    column-gap: 10px;
  }
  .time {
    line-height: 1.2;
    word-break: break-all;
    inline-size: 215px;
  }
  .rightSide {
    display: none;
  }
  .navDrop {
    display: flex;
    padding-right: 10px;
    flex-direction: row;
    align-items: center;
    column-gap: 25px;
  }
  .dropDownBackDrop {
    position: fixed;
    display: flex;
    top: 75px;
    left: var(--backdropwidth);
    width: 100%;
    height: 100%;
    background-color: #d9d9d9;
    z-index: 1;
    transition-duration: 0.5s;
  }
  .dropDownButton {
    display: flex;
  }

  .buttonsInDropDown {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 75px;
    left: var(--backdropwidth);
    width: 100%;
    height: 100%;
    background-color: #d9d9d9;
    z-index: 2;
    transition-duration: 0.5s;
  }

  .alignIconsDropDown {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }

  .itemNames {
    font-size: 35px;
  }

  .itemDropDown {
    padding-top: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #777777;
  }
}
