@font-face {
    font-family: "Bubble";
    src: url(SmothyBubble-d9D06.otf);
}


@font-face {
    font-family: "Dreamer";
    src: url(DREAMERS-BRUSH.otf);
}


@font-face {
    font-family: "Guerrilla";
    src: url(GUERRILLA-Normal.otf);
}


@font-face {
    font-family: "Elia";
    src: url(SantEliaScript-BoldDEMO.otf);
}


@import url("https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap");
.heading {
    color: #ffffff;
    font-size: 80px;
    alignitems: "center";
    justifycontent: "center";
    text-align: center;
    text-shadow:
            -1px -1px 0 #ffffff,
            1px -1px 0 #ffffff,
            -1px 1px 0 #ffffff,
            1px 1px 0 #ffffff; /* Creates an outline */
}


.secondary {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}


.iaintreadinallat {
    color: #ffffff;
    margin-left: 70px;
    margin-right: 70px;
}


.text {
    color: #ffffff;
}


.pictureBackground {
    position: relative;
    justify-content: center;
    align-content: center;
    object-fit: cover;
    background: white;
    width: 33vh;
    height: 40vh;
    border-radius: 4px;
    z-index: 1;
}

.bluePin1 {
    position: relative;
    z-index: 3;
    margin-right: auto;
    margin-left: auto;
    max-width: 50px;
    max-height: 50px;
    bottom: 5px;
    left: 15px;
}

.bluePin2 {
    position: relative;
    z-index: 3;
    margin-right: auto;
    margin-left: auto;
    max-width: 50px;
    max-height: 50px;
    bottom: 25px;
    right: 10px;
}

.bluePin3 {
    position: relative;
    z-index: 3;
    margin-right: auto;
    margin-left: auto;
    max-width: 50px;
    max-height: 50px;
    bottom: 10px;
}

.yellowPin {
    position: relative;
    z-index: 3;
    margin-right: auto;
    margin-left: auto;
    max-width: 50px;
    max-height: 50px;
    bottom: 25px;
}
