@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.pathNotFoundBox {
  background-color: red;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
}
.wholePage {
  background: #f1f1f1;
  position: fixed;
  padding: 0;
  top: 180px;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-height: 580px;
  min-width: 700px;
}

.container {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(100% - 100px);
}

.signInForm {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  width: 380px; /* Adjust the width as needed */
  height: 60%;
  min-height: 200px;
  max-height: 200px;
  background: #f1f1f1;
  margin-top: -600px; /* Adjust this value as needed to control the distance from the top */
}

.mapArea {
  height: calc(
    100vh + 110px
  ); /* Subtract the navbar height or any padding you may have */
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.hmap-image {
  height: 100%; /* Make the image fill the container height */
  width: auto; /* Adjust width automatically */
  object-fit: cover; /* Cover the area without losing aspect ratio */
  max-width: none; /* Allow the width to go beyond 100% if necessary */
}

.transformWrapper {
  width: 100%;
  height: 100%;
}

.transformComponent {
  position: relative; /* Establish a positioning context for the dots */
  width: 100%;
  height: 100%;
}

.mapDot {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.dotsContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.boldtag {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
  color: black;
}

.container .directionsBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #003b9c;
  color: white;
  font-weight: bold;
  line-height: 48px;
  width: 420px;
  left: calc(-17%);
  position: relative;
  box-sizing: border-box;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

@keyframes moveDottedLine {
  to {
    stroke-dashoffset: -10;
  }
}

.line {
  stroke-dasharray: 3;
  stroke-dashoffset: 20;
  animation: moveDottedLine 1s linear infinite;
  z-index: 100;
}

.mapDot.small {
  width: 0px;
  height: 0px;
  z-index: 0;
}
