html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    /* This ensures there's no horizontal scrolling caused by a width greater than 100% */
    overflow-x: hidden;
    flex-shrink: 0;
}

.floorMapContainer {
    flex-shrink: 0;
    display: flex;
    width: 100%; /* Ensure it's not less than 100% */
    margin-top: 70px; /* Adjust if you have a navbar */
    height: calc(100vh - 70px); /* Full viewport height minus the navbar */
    /* Remove overflow-x if you don't want to hide the horizontal scroll */
    overflow-x: hidden;
}



.sidebar {
    color: black;
    flex-shrink: 0;
    width: 300px; /* Adjust to your sidebar's width */
    background-color: #F1F1F1;
    padding: 20px;
    height: 94%;
    /* No need for position absolute here */
}

.mapArea {
    flex-grow: 1; /* Takes up the rest of the horizontal space */
    height: calc(100vh - 70px); /* Full viewport height minus the navbar */
    position: relative; /* Establishes a new positioning context */
}

.hmap-container {
    width: 100%; /* Ensures the container fills the .mapArea */
    height: 100%; /* Ensures the container has the full height of .mapArea */
}

.hmap-image {
    width: 100%; /* The image will fill the width of its container */
    height: 100%; /* Maintains the image's aspect ratio */
     /* Ensures the image covers the available space */
     /* Positions the image absolutely within .hmap-container */
    top: 0; /* Aligns the image to the top of .hmap-container */
    right: 0; /* Aligns the image to the right of .hmap-container */
}
