.statsContainer {
  width: 50%;
  height: 100%;
  margin: 60px auto 50px; /* Adjusted top margin */
  padding: 20px;
  background-color: #f4f4f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: black;
  align-content: start;
  align-items: start;
  justify-items: start;
  justify-content: start;
}

h1 {
  color: black;
  text-align: start;
}

ul {
  list-style-type: none;
  padding: 0;
  color: black;
  align-items: start;
  text-align: start;
}

.contributor {
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.contributor strong {
  color: #2a2a2a;
}

.pieChartContainer {
  position: relative;
  right: 40px; /* Adjust this value to position the legend */
  top: 0px; /* Adjust this value to position the legend */
  left: 40px;
}

.pieChartContainer .recharts-legend-wrapper {
  position: absolute;
}

.MuiChartsLegend-series {
  translate: 15px 80px;
}

.legend {
  translate: 30px 50px;
}
