/* SecurityRequest.module.css */
@import url("https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap");

body {
  background-color: #5c99b3;
}

.container {
  position: absolute;
  top: 59%;
  left: 50%; /* Center the container horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Adjust horizontal centering with transform */
  width: 50%; /* 53.4% of the parent element's width */
  height: 80%;
  background: #ffffff;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  min-width: 300px; /* This is the typical smallest screen size you would design for */
  min-height: 50vh;
  max-height: 550px; /* Minimum height set to 50% of the viewport height */
  /* Allows vertical scrolling if the content is taller than the container */
  overflow-y: auto;
  padding: 1.25rem 2rem;
  border: 2px solid #b9b9b9;
}

.title {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  color: #000000;
  margin-bottom: 10px;
  margin-top: 30px;
}

.result {
  box-sizing: border-box;
  color: #000000;
  padding: 15px 22px;
  font-size: 30px;
  display: flex;

  /*width: calc(
    100% - 2rem
  );
  min-width: 0;*/
}

.boldLabel {
  font-weight: bold;
}

.inputRow {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 40px; /* Space between the two inputs */
}

.input,
.textarea {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  color: #000000;
  padding: 15px 22px;
  background: #fbfbfb;
  border: 1px solid #b9b9b9;
  box-shadow: 4px 4px 9.4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  display: flex;
  width: calc(
    100% - 2rem
  ); /* Subtract the padding and/or margin from the width to ensure it fits within the parent */
  min-width: 0;
}

.input {
  width: 225px; /* Adjust width for gap */
}

.largeTextarea {
  width: 526px;
  height: 142px; /* Larger height for text area */
  /* Space below the inputs */
  resize: none;
}

.formGroup {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: flex-start; /* Align items to the start (left) */
  margin-bottom: 20px; /* Add space below this form group */
  width: 100%; /* Set width to 100% of its parent to avoid overflow */
  max-width: 100%;
}

.label {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  line-height: 41px;
  color: #000000;
  margin-bottom: 5px; /* Add some space between label and input */
}

.radioLabel  {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 41px;
  color: #000000;
  display: inline;
}

/* Existing styles... */

.buttonGroup {
  display: flex;
  justify-content: space-between; /* Place the children at the start and end of the container */
  width: 100%; /* Take up full width of the parent container */
  /* Remove gap if you want the buttons to align exactly at the ends */
  flex-wrap: wrap;
}

.button,
.backButton,
.reviewButton {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 18px;
  min-width: 234px; /* Minimum width for the buttons */
  height: 57px;
  background: #f3f3f3;
  border: 1px solid #b9b9b9;
  box-shadow: 4px 4px 9.4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  cursor: pointer;
  font-family: "Jaldi", sans-serif;
  font-size: 24px; /* Adjusted to match your specified font styles */
  font-weight: 900;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 5px; /* Spacing between buttons, adjust if needed */

  flex: 1 1 auto; /* Allow the button to grow and shrink, but not to exceed the container's width */
  max-width: calc(50% - 1rem);
}

.backButton {
  background: #f3f3f3;
  color: #000000;
  margin-right: 10px; /* Ensure this is the same as the left margin of the reviewButton */
}

.reviewButton {
  background: #289ba5;
  color: white;
  margin-left: 10px; /* Same as the right margin of the backButton to ensure symmetry */
}

/* Make sure this selector is specific enough to override any other styles applied to .button */
.button:last-child {
  margin-right: 0;
}
.button:first-child {
  margin-left: 0;
}

@media (max-width: 1104px) {
  .container {
    overflow-y: auto; /* Enable vertical scrolling for smaller screens */
    /* ... other styles for smaller screens ... */
  }

  .inputRow {
    flex-direction: column;
    align-items: center; /* Center-align flex children vertically within the flex container */
  }

  .title {
    overflow-wrap: break-word;
    font-size: 40px;
  }

  .input,
  .textarea {
    width: 100%; /* Allow input and textarea to take the full width of the container */
    max-width: 100%; /* Prevent them from exceeding the container's width */
    margin: 0 auto; /* Center the input/textarea horizontally */
  }

  .button {
    max-width: 100%; /* Allow buttons to expand to the full width */
  }

  /* If you have set margins that may affect centering, adjust them here */
  .button,
  .backButton,
  .reviewButton {
    margin: 0.5rem auto; /* Center buttons horizontally and add some vertical space */
  }

  .fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }
}
