/* Login.module.css */
@import url("https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap");

.heading {
  color: black;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 50px;

  padding: 8px;
    animation: slideIn 5s ease forwards; /* Apply animation */
}

.heading2 {
  color: black;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  font-weight: lighter;
  font-family: "Inter", sans-serif;
    animation: slideIn 5s ease forwards; /* Apply animation */
}

.textContainer {
  flex: 1; /* Adjust flex value as needed */
  padding: 10px;
  background-color: #f0f0f0;
  min-width: 200px; /* Set a minimum width */
  height: calc(100vh - 75px);
    animation: slideIn 5s ease forwards; /* Apply animation */
}

.container {
  position: absolute;
  left: 0;
  top: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: calc(100vh - 75px);

}

.imageContainer {
  flex: 3;
  position: relative;
  object-fit: cover;
  min-width: 200px;
  height: calc(100vh - 75px);
    animation: slideIn 5s ease forwards; /* Apply animation */
}

.coverImage {
  width: 200vh;
  height: calc(100vh - 75px);
  position: relative;
  object-fit: cover;

}

.arrowImage {
  position: relative;
  object-fit: cover;
}

.textOverlay {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 950%);
  text-align: center;
  color: white;

}

.disclaimer {
  font-weight: 800;
  width: 100%;
}

@keyframes slideIn {
    from {
        transform: translateX(0);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 2;
    }
}


.slideshowContainer {
    position: relative;
    width: 100%;
    max-width: 600px; /* Adjust the max-width as needed */
    margin: 0 auto;
}

.img {
    display: none; /* Hide all images by default */

    width: 200vh;
    height: calc(100vh - 75px);
    position: relative;
    object-fit: cover;
}

.active {
    display: block; /* Show the active image */
    animation: fade 1.5s ease-in-out; /* Apply fade animation */

    width: 200vh;
    height: calc(100vh - 75px);
    position: relative;
    object-fit: cover;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}
