/* Login.module.css */
@import url("https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap");

.heading {
    color: black;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 60px;
    font-weight: bold;

}

.heading2 {
    color: black;
    text-align: center;
    font-size: 20px;
padding: 10px;
    font-family: "Inter", sans-serif;
}

.textContainer {
    flex: 1; /* Adjust flex value as needed */
    padding: 10px;
    background-color: #f0f0f0;
    min-width: 200px; /* Set a minimum width */

}



.container {
    position: absolute;
    left: 0;
    top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%; /* Adjust width as needed */
    height: 75vh;
}
.imageContainer {
    flex: 4; /* Adjust flex value as needed */
    position: relative;
    object-fit: cover;
    min-width: 200px; /* Set a minimum width */
}

.coverImage {
    width: 900vh;
    height: 92.5vh;
    position: relative;
    object-fit: cover;
}


.textOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Adjust text color to your preference */
}

.disclaimer {
    transform: translate(-300px, -350px); /* Fix typo */
    font-weight: bold;
    width: 100%;
}


