/* Login.module.css */
@import url("https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap");

.heading {
  color: black;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding: 8px;
}

.heading2 {
  color: black;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  font-weight: lighter;
  font-family: "Inter", sans-serif;
}

.textContainer {
  flex: 1.5; /* Adjust flex value as needed */
  padding: 10px;
  background-color: #f0f0f0;
  min-width: 200px; /* Set a minimum width */
  height: calc(100vh - 75px);
}

.container {
  position: absolute;
  left: 0;
  top: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%; /* Adjust width as needed */
  height: calc(100vh - 75px);
}

.imageContainer {
  flex: 3; /* Adjust flex value as needed */
  position: relative;
  object-fit: cover;
  min-width: 200px; /* Set a minimum width */
  height: calc(100vh - 75px);
}

.coverImage {
  width: 200vh;
  height: calc(100vh - 75px);
  position: relative;
  object-fit: cover;
}

.arrowImage {
  position: relative;
  object-fit: cover;
  /*translate: 300px 300px;*/
}

.textOverlay {
  background: white;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 20%);
  text-align: center;
  color: black; /* Adjust text color to your preference */
}

.disclaimer {
  font-weight: 800;
  width: 100%;
}
